<nav class="navbar sticky-top navbar-expand-lg navbar-dark secondary-color">
  <img class="navbar-brand logo" src="assets/logo.png" alt="image"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <form class="form-inline">
        <div class="md-form mt-0">
            <img class="cart" src="assets/cart2.jpg" alt="cart"/>
          </div>
      <div class="md-form mt-0">
        <input name="searchPet" 
            class="form-control mr-sm-2" 
            type="text" [(ngModel)]="petSearch" 
            (keyup.enter)="onEnter()"
            placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
</nav>

<!--Main layout-->
<main>

  <div class="container-fluid">
    <img class="pets" src="assets/pets.jpg" alt="pets"/>
  </div>
</main>